/*!
* Future Imperfect by HTML5 UP
* html5up.net | @n33co
* Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*
* Slimmed/Cleaned/Modernized for use with Hugo-Future-Imperfect Hugo Theme
* gohugo.io | @pacollins
*/

/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Variables
   ========================================================================== */

/* Font */

body {
	background-color: #665c54!important;
}

$header-font: "Raleway", Helvetica, sans-serif;
$body-font: "Source Sans Pro", Helvetica, sans-serif;
$code-font: "Courier New", monospace;
$fa-free-font: "Font Awesome 5 Free";
$fa-brands-font: "Font Awesome 5 Brands";
$header-color: 	hsl(0, 1%, 23%);
$accent-color: 	hsl(175, 60%, 45%);
$accent-hover: hsla(175, 60%, 45%, 0.25);
$warning-color: hsl(332, 60%, 45%);
$warning-hover: hsla(332, 60%, 45%, 0.25);
$utility-gray: hsl(0, 0%, 67%);
$utility-gray-2: 	hsl(210, 13%, 50%);
$utility-white: hsl(0, 0%, 96%);

/* Background & Border */

$white: #ebdbb2;
$black: #282828;
$border-color: hsla(0, 19%, 7%, 0.3);
$input-color: hsla(0, 0%, 63%, 0.07);
$active-color: hsla(175, 60%, 45%, 0.05);
$primary-border: 1px solid $border-color;
$secondary-border: 1px dotted hsla(0, 0%, 63%, 0.7);
$cellborder-color: hsl(0, 0%, 88%);
$headerbg-color: hsl(0, 0%, 93%);

/* Other */

$avatar-size: 3.75em;
$hover: 0.2s ease-in-out;
$hover-slow: 0.35s ease-in-out;
$shadow-1: 0 3px 6px hsla(0, 0%, 0%, 0.16), 0 3px 6px hsla(0, 0% , 0%, 0.23);
$shadow-2: 0 10px 20px hsla(0, 0%, 0%, 0.19), 0 6px 6px hsla(0, 0%, 0%, 0.23);
$shadow-3: 0 14px 28px hsla(0, 0%, 0%, 0.25), 0 10px 10px hsla(0, 0%, 0%, 0.22);
$shadow-4: 0 19px 38px hsla(0, 0%, 0%, 0.30), 0 15px 12px hsla(0, 0%, 0% ,0.22);
$shadow-scroll: inset 0 0 6px hsla(0, 0%, 0%, 0.3);

/* Maps */

// name, color(hsl), unicode, font[opt], weight[opt]
$brands: (
  (twitter, hsl(197, 100%, 47%), "\f099"),
  (facebook, hsl(221, 44%, 41%), "\f09a"),
  (linkedin, hsl(201, 100%, 35%), "\f08c"),
  (pinterest, hsl(357, 70%, 46%), "\f0d2"),
  (reddit, hsl(20, 100%, 50%), "\f281"),
  (email, hsl(0, 0%, 27%), "\f0e0", $fa-free-font, 900)
);

/* Thanks to https://bennettfeely.com/clippy/ for $masks */

// name, clip mask
$masks: (
  (triangle, polygon(0 100%, 100% 100%, 50% 0)),
  (trapezoid, polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%)),
  (parallelogram, polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%)),
  (rhombus, polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%)),
  (pentagon, polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%)),
  (hexagon, polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%)),
  (heptagon, polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%)),
  (octagon, polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%)),
  (nonagon, polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%)),
  (decagon, polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%)),
  (bevel, polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%)),
  (rabbet, polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%)),
  (left-arrow, polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%)),
  (right-arrow, polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%)),
  (left-point, polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%)),
  (right-point, polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%)),
  (left-cheveron, polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%)),
  (right-cheveron, polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%)),
  (star, polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%)),
  (cross, polygon(10% 25%, 35% 25%, 35% 0%, 65% 0%, 65% 25%, 90% 25%, 90% 50%, 65% 50%, 65% 100%, 35% 100%, 35% 50%, 10% 50%)),
  (message, polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%)),
  (close, polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%)),
  (circle, circle(50% at 50% 50%)),
  (vertical-ellipse, ellipse(25% 40% at 50% 50%)),
  (horizontal-ellipse, ellipse(40% 25% at 50% 50%))
);

/* ==========================================================================
   Mixins
   ========================================================================== */

@mixin prefix($property, $value, $vendors:null ) {
  $prefixes: ('webkit', 'moz', 'ms', 'o');
  @if ($vendors) {
    @each $vendor in $vendors {
      @if index($prefixes, $vendor){
        -#{$vendor}-#{$property}: #{$value};
      }
    }
    #{$property}: #{$value};
  }
  @else {
    @each $prefix in $prefixes {
      -#{$prefix}-#{$property}: #{$value};
    }
    #{$property}: #{$value};
  }
}

@mixin display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

/* ==========================================================================
   Breakpoints
   ========================================================================== */

@mixin for-mobile-m-up {
  @media (min-width: 320px) {
    @content;
  }
}

@mixin for-mobile-l-up {
  @media (min-width: 375px) {
    @content;
  }
}

@mixin for-tall {
  @media (min-height: 600px) {
    @content;
  }
}

@mixin for-tablet-up {
  @media (min-width: 425px) {
    @content;
  }
}

@mixin for-laptop-up {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media (min-width: 1440px) {
    @content;
  }
}

@mixin for-bigger-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: $header-color;
  font-size: 1em;
  line-height: 1.4;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Vendor-prefixed and regular ::selection selectors cannot be combined:
* https://stackoverflow.com/a/16982510/7133471
*
* Customize the background color to match your design.
*/

::-moz-selection {
  background: $accent-color;
  text-shadow: none;
}

::selection {
  background: $accent-color;
  text-shadow: none;
}

/*
* A better looking default horizontal rule
*/

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid hsl(0, 0%, 80%); // 2 Color
  margin: 1em 0;
  padding: 0;
}

/*
* Remove the gap between audio, canvas, iframes,
* images, videos and the bottom of their containers:
* https://github.com/h5bp/html5-boilerplate/issues/440
*/

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
  max-width: 100%;
}

/*
* Remove default fieldset styles.
*/

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
* Allow only vertical resizing of textareas.
*/

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: $utility-gray;
  color: $black;
  padding: 0.2em 0;
}

/* ==========================================================================
   Theme Basic Tag Styles
   ========================================================================== */

body {
  background: $utility-white;
  margin-top: 3.5em;
  max-width: 100vw;
  -ms-overflow-style: scrollbar;
}

/* Box Model */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Type */

body,
input,
select,
textarea {
  color: hsl(0, 0%, 20%);
  font-family: $body-font;
  line-height: 1.75em;
}

a {
  border-bottom: $secondary-border;
  color: inherit;
  text-decoration: none;
  transition: border-bottom-color $hover, color $hover;
  &:hover {
    border-bottom-color: transparent;
    color: $accent-color;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $header-color;
  font-family: $header-font;
  letter-spacing: 0.25em;
  line-height: 1.65;
  text-transform: uppercase;
  a {
    border-bottom: 0;
  }
}

blockquote {
  border-left: 4px solid $border-color;
  font-style: italic;
  margin: 0 2em;
  padding: 0.5em 0 0.5em 2em;
}

code {
  border: $primary-border;
  font-family: $code-font;
  font-size: 0.9em;
  margin: 0 0.25em;
  padding: 0.25em 0.65em;
  overflow-x: auto;
  &::-webkit-scrollbar {
    height: 0.25em;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: $shadow-scroll;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $utility-gray;
    outline: 1px solid $utility-gray-2;
  }
}

pre {
  display: table;
  font-family: $code-font;
  font-size: 0.9em;
  table-layout: fixed;
  line-height: 1.25;
  width: 100%;
  code {
    display: block;
    padding: 1em 1.5em;
    overflow-x: auto;
  }
}

hr {
  border: 0;
  border-bottom: $primary-border;
  margin: 2em 0;
}

cite {
  margin: 1em 0;
  sup {
    left: .5em
  }
}

input[type="submit"],
input[type="reset"],
input[type="button"],
.button {
  background-color: #ebdbb2;
  border: $primary-border;
  color: $header-color;
  cursor: pointer;
  display: inline-block;
  font-family: $header-font;
  font-size: 0.6em;
  font-weight: 800;
  height: 4.8125em;
  letter-spacing: 0.25em;
  line-height: 4.8125em;
  margin: auto;
  padding: 0 2em;
  transition: background-color $hover, border $hover, color $hover;
  text-align: center;
  text-transform: uppercase;
  width: fit-content;
  &:hover {
    border: 1px solid $accent-color;
    color: $accent-color !important;
    &:active {
      background-color: $active-color;
    }
  }
}

label {
  color: $header-color;
  display: block;
  font-size: 0.9em;
  font-weight: 700;
}

input,
select,
textarea {
  background: $input-color;
  border: $primary-border;
  outline: 0;
  margin: 0.25em 0;
  padding: 0 1em;
  width: 100%;
  transition: border-color $hover;
  &:hover {
    border-color: $accent-color;
  }
  &:focus,
  &:active {
    border: 1px solid $accent-color;
  }
}

input,
select {
  height: 2.75em;
}

textarea {
  height: 5em;
}

::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
.formerize-placeholder {
  color: $utility-gray;
  opacity: 1;
}

table {
  background-color: $white;
  box-shadow: $shadow-1;
  margin: 1em auto;
  width: 75%;
  @include for-laptop-up {
    width: 90%;
  }
  > thead {
    display: none;
    @include for-laptop-up {
      background-color: $headerbg-color;
      display: table-header-group;
    }
  }
  > tbody {
    > tr {
      border-bottom: 1px solid $utility-white;
      text-align: center;
      transition: $hover;
      @include for-laptop-up {
        &:nth-child(even) {
          background-color: $utility-white;
        }
        &:hover {
          background-color: $accent-hover;
        }
      }
      > td {
        display: block;
        @include for-laptop-up {
          display: table-cell;
        }
        &[data-header]::before {
          color: $utility-gray-2;
          content: attr(data-header);
          float: left;
          font-size: inherit;
          font-weight: bold;
          margin-right: 1em;
          @include for-laptop-up {
            display: none;
          }
        }
        &:first-child {
          background-color: $headerbg-color;
          font-weight: bold;
          text-align: left;
          @include for-laptop-up {
            background-color: unset;
            text-align: center;
          }
          &::after {
            content: "\f078";
            float: right;
            font-family: $fa-free-font;
            font-weight: 900;
            text-decoration: inherit;
            transition: all $hover;
            @include for-laptop-up {
              display: none;
            }
          }
        }
        &:not(:first-child) {
          border-bottom: 1px solid $utility-white;
          opacity: 0;
          position: absolute;
          text-align: right;
          transition: none;
          z-index: -1;
          @include for-laptop-up {
            border: 0;
            opacity: 1;
            position: relative;
            text-align: center;
            z-index: 0;
          }
        }
        @include for-laptop-up {
          &[align="left"] {
            text-align: left;
          }
          &[align="center"] {
            text-align: center;
          }
          &[align="right"] {
            text-align: right;
          }
        }
      }
      &.active > td {
        &:first-child {
          &::after {
            transform: rotateX(180deg);
          }
        }
        &:not(:first-child) {
          opacity: 1;
          position: relative;
          transition: all $hover;
          z-index: auto;
        }
        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }
  > tfoot {
    display: none;
    @include for-laptop-up {
      display: table-footer-group;
    }
  }
  > thead > tr > th,
  > tbody > tr > th,
  > tfoot > tr > th,
  > thead > tr > td,
  > tbody > tr > td,
  > tfoot > tr > td {
    border: 0;
    padding: 0.5em;
  }
}

figure {
  background:	$white;
  box-shadow: $shadow-1;
  margin: 10px auto;
  max-width: 85%;
  padding: 0.5em 0.5em 0 0.5em;
  width: fit-content;
  a {
    border: 0;
  }
  img {
    max-width: 100%;
  }
}

figcaption {
  color: $utility-gray;
  font-size: 0.8em;
  font-style: italic;
  text-align: center;
}

/* ==========================================================================
   Classes
   ========================================================================== */

.post {
  background:	$white;
  margin: 1.5em auto;
  padding: 1em;
  max-width: 55em;
  > header {
    border-bottom: $primary-border;
    margin: -1em -1em 0 -1em;
    text-align: center;
    @include prefix(word-break, break-word, ms);
    @include for-laptop-up {
      @include display-flex;
      justify-content: space-between;
      text-align: left;
    }
    div {
      padding-bottom: 1em;
      @include for-laptop-up {
        padding: 1.5em;
      }
    }
    p {
      margin: -1em 0 0 0;
    }
  }
  > div > p,
  > p {
    text-align: justify;
  }
  footer {
    @include display-flex;
    flex-direction: column;
    .button {
      margin: 1em auto;
      width: 100%;
    }
  }
}

.image {
  border: 0;
  display: grid;
  place-items: center;
  margin: 0 -1em 1em -1em;
  overflow: hidden;
  padding-bottom: 33%;
  @include prefix(transform, perspective(1000px), (webkit, ms));
  img {
    position: absolute;
    max-height: 100%;
    transition: transform $hover-slow;
    &.stretchV {
      height: 100%;
    }
    &.stretchH {
      width: 100%;
    }
    &.cover {
      object-fit: cover;
      width: 100%;
    }
  }
  &[style]::before {
    content: "";
    position: absolute;
    background-image: var(--bg-image);
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    @include prefix(filter, blur(8px), webkit);
    @include prefix(transform, scale(1.1), (webkit, ms));
  }
  &:hover {
    img {
      @include prefix(transform, scale(1.05), (webkit, ms));
    }
  }
}

.title {
  font-size: 1.1em;
  width: 100%;
  @include for-laptop-up {
    width: 75%;
  }
}

.meta {
  @include display-flex;
  font-family: $header-font;
  font-size: 0.6em;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  @include for-laptop-up {
    border-left: $primary-border;
    text-align: right;
    width: 25%;
  }
  time {
    font-size: 1.2em;
    font-weight: 800;
  }
}

.stats {
  @include display-flex;
  flex-direction: column;
  @include for-mobile-l-up {
    flex-direction: row;
    justify-content: space-around;
  }
  ul {
    @include display-flex;
    flex-wrap: wrap;
    margin: 1em 0 0 0;
    padding: 0;
    font-family: $fa-free-font;
    font-weight: 900;
    list-style: none;
    @include for-mobile-l-up {
      max-width: 50%;
      justify-content: center;
    }
    &::before {
      width: 40px;
      padding-right: 1em;
      margin-right: 1em;
      border-right: $primary-border;
      @include for-mobile-l-up {
        padding-right: 0;
        margin-right: 0;
        border-right: 0;
        border-bottom: $primary-border;
        flex: 100%;
        height: fit-content;
        text-align: center;
      }
    }
    li { // Fix Wrap Small
      font-family: $header-font;
      font-size: 0.6em;
      font-weight: 400;
      letter-spacing: 0.25em;
      text-transform: uppercase;
      &:not(:first-child) {
        margin-left: 1em;
      }
      a {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}

/*.stats {
  ul {
    &:hover,
    &:focus,
    &:active {
      li {
        visibility: visible;
        opacity: 1;
        line-height: 1;
        margin: 1em;
        width: auto;
      }
    }
    li {
      visibility: visible;
      line-height: 0;
      margin: 0;
      width: 0;
      opacity: 0;
      transition: visibility 0s, opacity 0.5s linear, line-height 0.5s linear, margin 0.5s linear, width 0.5s linear;
      text-transform: uppercase;
      &:nth-child(-n + 3) {
        visibility: visible;
        opacity: 1;
        width: auto;
        line-height: 1;
        margin: 1em;
      }
      a {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}*/

.categories::before {
  content: "\f07b";
}

.tags::before {
  content: "\f02c";
}

/* Pagination */

.pagination {
  @include display-flex;
  justify-content: space-around;
  align-items: center;
  margin: 1.5em auto;
  padding: 1em;
  max-width: 55em;
  .button {
    margin: 1em;
    width: 50%;
  }
}

.left,
.right {
  span {
    display: none;
    @include for-tablet-up {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  &::before {
    font-family: $fa-free-font;
    font-weight: 900;
    text-decoration: inherit;
  }
}

.left::before {
  content: "\f053";
  float: left;
  padding-right: 0.5em;
}

.right::before {
  content: "\f054";
  float: right;
  padding-left: 0.5em;
}

.nav {
  border: 0;
  border-left: $primary-border;
  font-family: $header-font;
  font-size: 0.7em;
  font-weight: 400;
  letter-spacing: 0.25em;
  margin: 0;
  padding: 0 1.5em;
  text-transform: uppercase;
}

.flyout-menu {
  background-color: $white;
  border-left: $primary-border;
  height: 100%;
  margin-top: 3.5em;
  overflow-y: auto;
  padding: 0;
  position: fixed;
  top: 0;
  transition: $hover-slow;
  z-index: 20;
  &.active {
    box-shadow: $shadow-2;
    right: 0 !important;
    a {
      border-left: 0;
    }
  }
  h1 {
    font-size: 1em;
  }
}

.link {
  border-bottom: $secondary-border;
  display: block;
  flex-basis: 100%;
  order: 2;
  &:hover {
    border-bottom: $secondary-border;
  }
  @include for-desktop-up {
    border-bottom: none;
    display: inline;
    order: 0;
    &:hover {
      border-bottom: 0;
    }
    &:first-of-type {
      border: 0;
    }
  }
}

.nav-title {
  align-items: center;
  @include display-flex;
  flex-grow: 1;
  margin: 0;
  a {
    border: 0;
    font-size: 0.35em;
    font-weight: 800;
    margin-left: 1.5em;
    opacity: 1;
    padding: 0;
    img {
      height: 4.8em;
      width: 12.6em;
    }
  }
  @include for-desktop-up {
    flex-grow: 0;
    &::after {
      background: $border-color;
      content: "";
      display: block;
      height: 56px;
      margin-left: 1.5em;
      width: 1px;
    }
    a {
      min-width: 12.5em;
      img {
        margin-top: -0.2em;
      }
    }
  }
}

.share-toggle,
.search-toggle {
  display: none;
  @include for-tablet-up {
    display: block;
    text-align: center;
    width: 61px;
    i {
     vertical-align: middle;
    }
  }
}

.nav-toggle {
  text-align: center;
  width: 61px;
  @include for-desktop-up {
    display: none;
  }
  i {
    vertical-align: middle;
  }
}

.search-input {
  background-color: $white;
  box-shadow: $shadow-3;
  height: 0px;
  opacity: 0;
  transition: $hover-slow;
  width: 300px;
  z-index: -1;
  &.active {
    opacity: 1;
    height: 50px;
    z-index: 0;
  }
}

.search-results {
  @include display-flex;
  opacity: 0;
  line-height: 1.75em;
  transition: $hover-slow;
  z-index: -1;
  &.active {
    opacity: 1;
    z-index: 0;
  }
  flex-direction: column;
  align-items: center;
  max-height: calc(100vh - 9.4em);
  overflow-y: auto;
  margin-top: 1em;
  padding-bottom: 1em;
  width: 100%;
  .mini-post {
    box-shadow: $shadow-2;
    width: 90%;
    @include for-tablet-up {
      width: 75%;
    }
    @include for-laptop-up {
      width: 50%
    }
    a {
      border-bottom: 0;
      &:hover {
        color:inherit;
        box-shadow: $shadow-3;
        transition: box-shadow $hover;
      }
    }
    header {
      @include for-laptop-up {
        @include display-flex;
        align-items: center;
        border-bottom: $primary-border;
        h2 {
          flex-grow: 1;
          font-size: 1em;
        }
      }
    }
    main {
      padding: 0 1.25em .1em;
    }
  }
}

.mini-post {
  background: $white;
  border: $primary-border;
  @include display-flex;
  flex-direction: column;
  margin-bottom: 1em;
  width: 100%;
  @include for-laptop-up {
    width: 49%;
  }
  @include for-desktop-up {
    width: 100%;
  }
  header {
    min-height: 4em;
    padding: 0.5em 1.25em;
    position: relative;
    @include for-laptop-up {
      border-top: $primary-border;
    }
    @include for-desktop-up {
      border: 0;
    }
    h2 {
      font-size: 0.7em;
    }
    time {
      font-family: $header-font;
      font-size: 0.6em;
      letter-spacing: 0.25em;
      text-transform: uppercase;
    }
  }
  .image {
    margin: 0;
  }
}

.count {
  float: right;
}

.copyright {
  color: $utility-gray;
  font-family: $header-font;
  font-size: 0.5em;
  font-weight: 400;
  letter-spacing: 0.25em;
  text-align: center;
  text-transform: uppercase;
}

.socnet-icons {
  @include display-flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0;
  li {
    margin: 0 0.5em;
    min-width: 20px;
    list-style-type: none;
    a {
      opacity: 0.6;
      border: none;
    }
  }
}

/* ==========================================================================
   IDs and Grid
   ========================================================================== */

#site-header {
  background-color: $white;
  border-bottom: $primary-border;
  box-shadow: $shadow-2;
  height: 3.5em;
  line-height: 3.5em;
  position: fixed;
  margin-bottom: 3.5em;
  top: 0;
  width: 100%;
  z-index: 10000;
}

#site-nav {
  align-items: center;
  @include display-flex;
  justify-content: space-between;
  .flyout-menu {
    right: -177px;
    width: 177px;
    @include for-desktop-up {
      background-color: unset;
      border: none;
      flex-grow: 1;
      height: auto;
      margin: 0;
      overflow: auto;
      position: static;
      transition: none;
      white-space: nowrap;
      &::-webkit-scrollbar {
        height: 0.25em;
      }
      &::-webkit-scrollbar-track {
        -webkit-box-shadow: $shadow-scroll;
      }
      &::-webkit-scrollbar-thumb {
        background-color: $utility-gray;
        outline: 1px solid $utility-gray-2;
      }
    }
    &.active {
      flex-wrap: wrap;
      @include for-desktop-up {
        box-shadow: none;
      }
    }
    .search-toggle {
      display: inline-flex;
      flex-basis: 100%;
      order: 1;
    }
    .share-toggle, .search-toggle {
      display: block;
      flex-basis: 100%;
      order: 3;
      @include for-tablet-up {
        display: none;
      }
    }
  }
}

#search {
  @include display-flex;
  align-items: center;
  flex-direction: column;
  padding: 0;
}

#lang-menu {
  &.flyout-menu {
    right: -177px;
    width: 177px;
    a {
      border-left: 0;
    }
    .link {
      border-bottom: $secondary-border;
      display: block;
    }
    .no-lang {
      cursor: not-allowed;
      opacity: 0.25;
      span {
        &:hover {
          box-shadow: none;
        }
      }
    }
  }
}

#share-menu {
  @include display-flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  &.flyout-menu {
    width: 177px;
    right: -177px;
    padding: 1em;
    h1 {
      font-size: 0.9em;
    }
    h1,
    a {
      margin: 0.25em 0.25em;
      @include for-tall {
        margin: 0 0.25em 0.75em 0;
      }
    }
    a p {
      visibility: hidden;
    }
    .share-btn {
      height: 50px;
      i {
        font-size: 1.5em;
      }
    }
  }
}

#site-intro {
  grid-area: intro;
  align-items: center;
  @include display-flex;
  flex-direction: column;
  margin-top: 0.5em;
  padding: 1em;
  text-align: center;
  a {
    border: 0;
  }
  p {
    opacity: 0.6;
  }
  header {
    h1 {
      font-size: 1.25em;
      margin-bottom: 0;
    }
  }
  main {
    p {
      font-size: 0.7em;
      letter-spacing: 0.25em;
      line-height: 2.5;
      margin-bottom: 0;
      text-transform: uppercase;
    }
  }
}

#site-sidebar {
  grid-area: sidebar;
  header h1 {
    font-size: 1em;
  }
  > * {
    border-top: $primary-border;
    margin: 3em 2em 0 2em;
    padding-top: 3em;
  }
  > *:first-child {
    @include for-desktop-up {
      margin-top: 0;
    }
  }
    ul {
      font-family: $header-font;
      font-size: 0.9em;
      letter-spacing: 0.25em;
      line-height: 1.65;
      text-transform: uppercase;
      list-style: none;
      padding: 0;
    }
  footer {
    margin: auto;
    width: max-content;
  }
}

#categories {
}

#recent-posts {
  @include display-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  > header {
    -webkit-box-flex: 1;
    @include prefix(flex, 1 1 100%, (ms, webkit));
  }
}

#mini-bio {
  p {
    opacity: 0.65;
    font-size: 0.9em;
    padding: 0;
  }
}

#site-main {
  grid-area: main;
}

#site-footer {
  grid-area: footer;
  border-top: $primary-border;
  margin: 3em 2em;
  padding-top: 3em;
}

#back-to-top {
  bottom: 15px;
  color: $utility-gray;
  display: none;
  position: fixed;
  right: 15px;
  border: 0;
  transition: color $hover, transform $hover;
  &:hover {
    color: $accent-color !important;
    transform: translateY(-10px);
  }
}

#socnet-share {
  @include display-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1em 1em 0 0;
  @include for-laptop-up {
    justify-content: flex-start;
  }
  a {
    margin-bottom: 0.5em;
    padding: 0.5em;
    width: 4em;
    @include for-laptop-up {
      margin-right: 0.25em;
    }
    i {
      font-size: 1em;
    }
  }
  p {
    display: none;
  }
}

#wrapper {
  display: -ms-grid;
  display: grid;
  grid-template-areas:
    "intro"
    "main"
    "sidebar"
    "footer";
  grid-template-rows: auto 1fr auto auto;
  margin: 0 auto;
  max-width: 90em;
  min-height: 100vh;
  transition: opacity $hover-slow;
  @include for-desktop-up {
    grid-template-areas:
      "intro main"
      "sidebar main"
      "footer main"
      "blank main";
    grid-template-columns: 22em 1fr;
    grid-template-rows: auto auto auto 1fr;
    padding: 0 2.5em;
  }
  &.overlay {
    opacity: 0.25;
  }
}

/* ==========================================================================
   Add-Ons
   ========================================================================== */

/* reCaptcha */

.g-recaptcha {
  @include prefix(transform, scale(0.955), (webkit, ms));
  @include prefix(transform-origin, 0 0, (webkit, ms));
  margin: -0.25em 0 0.25em 0;
  width: 0;
}

/* Staticman Comments - Form */

.new-comment {
  &.loading {
    opacity: 0.5;
  }
  .reply-notice {
    .comment-avatar {
      width: 2em;
      height: 2em;
      margin: 0 0.6em;
    }
    .reply-close-btn {
      padding: unset;
      border: none;
      vertical-align: top;
      font-size: 1em;
      line-height: 0;
      height: 0;
      &:hover {
        border: none;
      }
    }
    .reply-name {
      vertical-align: middle;
      &::before {
        font-family: $fa-free-font;
        font-weight: 900;
        content: "\f3e5";
        margin-right: .5em;
        width: 20px;
      }
    }
  }
}

.submit-success {
  border: 1px solid $accent-color;
  background: $accent-hover;
}
.submit-failed {
  border: 1px solid $warning-color;
  background: $warning-hover;
}

/* Staticman Comments - Content */

.comment {
  header {
    @include display-flex;
    background: $headerbg-color;
    align-items: center;
    border-radius: 50px 0 0 50px;
    @include for-mobile-l-up {
      border-radius: 0;
    }
    div {
      @include display-flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: center;
      @include for-mobile-l-up {
        flex-direction: row;
      }
    }
  }
  &.comment-reply {
    margin-left: $avatar-size/2;
    @include for-mobile-l-up {
      margin-left: $avatar-size;
    }
  }
}

.comment-author-container {
  @include display-flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  @include for-mobile-l-up {
    align-items: flex-start;
    flex-grow: 1;
  }
  @include for-laptop-up {
    flex-direction: row;
    align-items: center;
  }
}

.comment-avatar {
  margin: 0 0 0 1em;
  width: $avatar-size;
  height: $avatar-size;
  flex-grow: 0;
  @include for-mobile-l-up {
    margin: 0 .5em 0 0;
    &.circle {
      @include prefix(clip-path, none, webkit);
    }
  }
}

.comment-author {
  font-size: 0.9em;
  margin: 0;
  @include for-laptop-up {
    margin-right: .5em;
    padding-right: .5em;
    border-right: $primary-border;
  }
}

.comment-reply-btn {
  border: 0;
  &::before {
    font-family: $fa-free-font;
    font-weight: 900;
    content: "\f3e5";
    margin-right: .5em;
    width: 20px;
  }
  @include for-mobile-l-up {
    margin-right: 1.5em;
  }
}

.comment-content {
  margin: 1em;
}

/* TODO: Assess Value
  .reply-target {
    font-size: 0.9em;
    border: 0;
    &::before {
      font-family: $fa-free-font;
      font-weight: 900;
      content: "\f3e5";
      margin-right: .5em;
      width: 20px;
    }
  }
*/

/* Image Masks */

@each $name, $clip in $masks {
  .#{$name} {
    @include prefix(clip-path, $clip, webkit);
  }
}

/* Share Button */

.share-btn {
  font-size: 1.5em;
  border-radius: 4px;
  box-shadow: $shadow-1;
  letter-spacing: 0;
  color: $white;
  text-align: center;
  transition: background-color $hover;
  &:active {
    position: relative;
    top: 2px;
    box-shadow: none;
    color: darken($white, 10%);
  }
  &:hover {
    color: $white;
  }
}

/* Share Branding */

@each $name, $color, $icon, $font-family, $font-weight in $brands {
  .#{$name} {
    background-color: $color;
    @if $font-weight {
      font-weight: $font-weight;
    }
    &:hover {
      background-color: darken($color, 10%);
    }
    &::before {
    @if $font-family {
      font-family: $font-family;
    } @else {
      font-family: $fa-brands-font;
    }
    content: $icon;
    }
  }
}

/* Hide Single Column */

.hidden-single-column {
  display: none;
  @include for-laptop-up {
    @include display-flex;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: $white !important;
    color: $black !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: $primary-border;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
