
  <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://www.dropbox.com/s/54m3zkqd3pkccxu/favicon-32x32.png?dl=0">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png"> 
  <link rel="manifest" href="/static/site.webmanifest">
  <meta name="p:domain_verify" content="d6379d1013c41d619c71c4d7c7c25355"/>
  <meta name="apple-mobile-web-app-title" content="The dotBlog">
  <meta name="application-name" content="The dotBlog">
  <meta name="msapplication-TileColor" content="#282828">
  <meta name="msapplication-config" content="/static/browserconfig.xml">
  <meta name="theme-color" content="#282828">