{{ with .Site.Social.email }}<li><a href="mailto:{{.}}" target="_blank" title="Email" class="far fa-envelope"></a></li>{{ end }}
{{ with .Site.Social.gitlab }}<li><a href="//gitlab.com/{{.}}" style="color: #fe8019" target="_blank" rel="noopener" title="GitLab" class="fab fa-gitlab"></a></li>{{ end }}
{{ with .Site.Social.reddit }}<li><a href="//reddit.com/user/{{.}}" style="color: #d65d0e" target="_blank" rel="noopener" title="Reddit" class="fab fa-reddit"></a></li>{{ end }}
{{ with .Site.Social.youtube }}<li><a href="//youtube.com/{{.}}" style="color: #cc241d" target="_blank" rel="noopener" title="YouTube" class="fab fa-youtube"></a></li>{{ end }}
{{ with .Site.Social.stackoverflow }}<li><a href="//stackoverflow.com/users/{{.}}" style="color: #d65d0e" target="_blank" rel="noopener" title="Stack Overflow" class="fab fa-stack-overflow"></a></li>{{ end }}
{{ with .Site.Social.memrise }}<li><a href="//memrise.com/user/{{.}}" style="color: #fabd2f" target="_blank" rel="noopener" title="memrise"><i class="fa fa-flag"></i></a></li>{{ end }}
{{ with .Site.Social.spotify }}<li><a href="//open.spotify.com/user/{{.}}" style="color: #b8bb26" target="_blank" rel="noopener" title="Spotify"><i class="fab fa-spotify"></i></a></li>{{ end }}
{{ with .Site.Social.goodreads}}<li><a href="//goodreads.com/{{.}}" style="color: #fbf1c7" target="_blank" rel="noopener" title="Goodreads" class="fas fa-book"></a></li>{{ end }}
{{ with .Site.Social.imdb}}<li><a href="//imdb.com/user{{.}}" style="color: #fabd2f" target="_blank" rel="noopener" title="IMDB" class="fab fa-imdb"></a></li>{{ end }}
{{ with .Site.Social.myanimelist }}<li><a href="//myanimelist.net/animelist/{{.}}" style="color: #a89984" target="_blank" rel="noopener" title="MyAnimeList" class="fa fa-tv"></a></li>{{ end }}
{{ with .Site.Social.retroachievements }}<li><a href="//retroachievements.org/user/{{.}}" style="color: #a89984" target="_blank" rel="noopener" title="RetroAchievements" class="fa fa-gamepad"></a></li>{{ end }}
{{ with .Site.Social.twitter }}<li><a href="//twitter.com/{{.}}" style="color: #458588" target="_blank" rel="noopener" title="Twitter" class="fab fa-twitter"></a></li>{{ end }}
{{ with .Site.Social.linkedin }}<li><a href="//linkedin.com/in/{{.}}" style="color: #458588" target="_blank" rel="noopener" title="LinkedIn" class="fab fa-linkedin"></a></li>{{ end }}
{{ with .Site.Social.codepen }}<li><a href="//codepen.io/{{.}}" style="color: #b16286" target="_blank" rel="noopener" title="CodePen" class="fab fa-codepen"></a></li>{{ end }}
{{ with .Site.Social.quora }}<li><a href="//quora.com/profile/{{.}}" style="color: #cc241d" target="_blank" rel="noopener" title="Quora" class="fab fa-quora"></a></li>{{ end }}
{{ with .Site.Social.tumblr }}<li><a href="//{{.}}.tumblr.com" style="color: #458588" target="_blank" rel="noopener" title="Tumblr" class="fab fa-tumblr"></a></li>{{ end }}
{{ with .Site.Social.github }}<li><a href="//github.com/{{.}}" style="color: #fbf1c7" target="_blank" rel="noopener" title="GitHub" class="fab fa-github"></a></li>{{ end }}
{{ with .Site.Social.steam }}<li><a href="//steamcommunity.com/id/{{.}}" style="color: #458588" target="_blank" rel="noopener" title="Steam" class="fab fa-steam"></a></li>{{ end }}
{{ with .Site.Social.facebook }}<li><a href="//facebook.com/{{.}}" style="color: #83a598" target="_blank" rel="noopener" title="Facebook" class="fab fa-facebook"></a></li>{{ end }}
{{ with .Site.Social.instagram }}<li><a href="//instagram.com/{{.}}" style="color: #a89984" target="_blank" rel="noopener" title="Instagram" class="fab fa-instagram"></a></li>{{ end }}
{{ with .Site.Social.skype }}<li><a href="skype:{{.}}?userinfo" style="color: #458588" target="_blank" rel="noopener" title="Skype" class="fab fa-skype"></a></li>{{ end }}
{{ with .Site.Social.emocore}}<li><a href="//emocore.se/{{.}}" style="color: #d3869b" target="_blank" rel="noopener" title="Emocore" class="fab fa-edge"></a></li>{{ end }}
{{ with .Site.Social.medium}}<li><a href="//medium.com/@{{.}}" style="color: #fbf1c7" target="_blank" rel="noopener" title="Medium" class="fab fa-medium"></a></li>{{ end }}
{{ with .Site.Social.mastodon }}<li><a href="//{{.}}" style="color: #458588" target="_blank" rel="noopener" title="mastodon" class="fab fa-mastodon"></a></li>{{ end }}
{{ with .Site.Social.pinterest }}<li><a href="//pinterest.com/{{.}}" style="color: #fb4934" target="_blank" rel="noopener" title="Pinterest" class="fab fa-pinterest-p"></a></li>{{ end }}
{{ with .Site.Social.keybase }}<li><a href="//keybase.io/{{.}}" style="color: #d3869b" target="_blank" rel="noopener" title="keybase" class="fab fa-keybase"></a></li>{{ end }}
{{ with .Site.Social.telegram }}<li><a href="//telegram.me/{{.}}" style="color: #83a598" target="_blank" rel="noopener" title="telegram" class="fab fa-telegram"></a></li>{{ end }}
{{ with .Site.Social.wordpress }}<li><a href="//{{.}}.wordpress.com" style="color: #b8bb26" target="_blank" rel="noopener" title="WordPress" class="fab fa-wordpress"></a></li>{{ end }}
{{ with .Site.Social.snapchat }}<li><a href="//snapchat.com/add/{{.}}" style="color: #fabd2f" target="_blank" rel="noopener" title="snapchat" class="fab fa-snapchat"></a></li>{{ end }}

{{ with .Site.Social.bitbucket }}<li><a href="//bitbucket.com/{{.}}" target="_blank" rel="noopener" title="Bitbucket" class="fab fa-bitbucket"></a></li>{{ end }}
{{ with .Site.Social.researchgate }}<li><a href="//researchgate.net/profile/{{.}}" target="_blank" rel="noopener" title="Research Gate"><i class="ai ai-researchgate"></i></a></li>{{ end }}
{{ with .Site.Social.vimeo }}<li><a href="//vimeo.com/{{.}}" target="_blank" rel="noopener" title="Vimeo" class="fab fa-vimeo"></a></li>{{ end }}
{{ with .Site.Social.whatsapp }}<li><a href="//api.whatsapp.com/send?phone={{.}}" target="_blank" rel="noopener" title="WhatsApp" class="fab fa-whatsapp"></a></li>{{ end }}
{{ with .Site.Social.flickr }}<li><a href="//flickr.com/photos/{{.}}" target="_blank" rel="noopener" title="Flickr" class="fab fa-flickr"></a></li>{{ end }}
{{ with .Site.Social.behance }}<li><a href="//behance.net/{{.}}" target="_blank" rel="noopener" title="Behance" class="fab fa-behance"></a></li>{{ end }}
{{ with .Site.Social.dribbble }}<li><a href="//dribbble.com/{{.}}" target="_blank" rel="noopener" title="Dribbble" class="fab fa-dribbble"></a></li>{{ end }}
{{ with .Site.Social.deviantart }}<li><a href="//{{.}}.deviantart.com/" target="_blank" rel="noopener" title="DeviantArt" class="fab fa-deviantart"></a></li>{{ end }}
{{ with .Site.Social.orcid }}<li><a href="//orcid.org/{{.}}" target="_blank" rel="noopener" title="ORCID"><i class="ai ai-orcid"></i></a></li>{{ end }}
{{ with .Site.Social.jsfiddle }}<li><a href="//jsfiddle.com/{{.}}" target="_blank" rel="noopener" title="JSFiddle" class="fab fa-jsfiddle"></a></li>{{ end }}