{{ with .Site.Social.email }}<li><a href="mailto:{{.}}" target="_blank" title="Email" class="far fa-envelope"></a></li>{{ end }}
{{ with .Site.Social.gitlab }}<li><a href="//gitlab.com/{{.}}" style="color: #fe8019" target="_blank" rel="noopener" title="GitLab" class="fab fa-gitlab"></a></li>{{ end }}
{{ with .Site.Social.stackoverflow }}<li><a href="//stackoverflow.com/users/{{.}}" style="color: #d65d0e" target="_blank" rel="noopener" title="Stack Overflow" class="fab fa-stack-overflow"></a></li>{{ end }}
{{ with .Site.Social.github }}<li><a href="//github.com/{{.}}" style="color: #fbf1c7" target="_blank" rel="noopener" title="GitHub" class="fab fa-github"></a></li>{{ end }}
{{ with .Site.Social.youtube }}<li><a href="//youtube.com/{{.}}" style="color: #cc241d" target="_blank" rel="noopener" title="YouTube" class="fab fa-youtube"></a></li>{{ end }}
{{ with .Site.Social.mastodon }}<li><a href="//{{.}}" style="color: #458588" target="_blank" rel="noopener" title="mastodon" class="fab fa-mastodon"></a></li>{{ end }}
{{ with .Site.Social.memrise }}<li><a href="//memrise.com/user/{{.}}" style="color: #fabd2f" target="_blank" rel="noopener" title="memrise"><i class="fa fa-flag"></i></a></li>{{ end }}
{{ with .Site.Social.spotify }}<li><a href="//open.spotify.com/user/{{.}}" style="color: #b8bb26" target="_blank" rel="noopener" title="Spotify"><i class="fab fa-spotify"></i></a></li>{{ end }}
{{ with .Site.Social.goodreads}}<li><a href="//goodreads.com/{{.}}" style="color: #fbf1c7" target="_blank" rel="noopener" title="Goodreads" class="fas fa-book"></a></li>{{ end }}
{{ with .Site.Social.imdb}}<li><a href="//imdb.com/user/{{.}}" style="color: #fabd2f" target="_blank" rel="noopener" title="IMDB" class="fab fa-imdb"></a></li>{{ end }}
{{ with .Site.Social.myanimelist }}<li><a href="//myanimelist.net/animelist/{{.}}" style="color: #a89984" target="_blank" rel="noopener" title="MyAnimeList" class="fa fa-tv"></a></li>{{ end }}
{{ with .Site.Social.retroachievements }}<li><a href="//retroachievements.org/user/{{.}}" style="color: #a89984" target="_blank" rel="noopener" title="RetroAchievements" class="fa fa-gamepad"></a></li>{{ end }}
{{ with .Site.Social.linkedin }}<li><a href="//linkedin.com/in/{{.}}" style="color: #458588" target="_blank" rel="noopener" title="LinkedIn" class="fab fa-linkedin"></a></li>{{ end }}
{{ with .Site.Social.steam }}<li><a href="//steamcommunity.com/id/{{.}}" style="color: #458588" target="_blank" rel="noopener" title="Steam" class="fab fa-steam"></a></li>{{ end }}
{{ with .Site.Social.skype }}<li><a href="skype:{{.}}?userinfo" style="color: #458588" target="_blank" rel="noopener" title="Skype" class="fab fa-skype"></a></li>{{ end }}